* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.grid-container {
    display: flex;
    align-items: center;
    height: 500px;
}

.grid-section {
    border: 2px solid blue;
    width: 30px;
    height: 30px;
}

.grid-square-hover {
    background-color: pink;
}

.settings-btn {
    background-color: red;
    color: white;
    padding: 5px 10px;
    border: 2px solid white;
}

.settings-popup {
    width: 300px;
    height: 200px;
    flex-direction: column;
    gap: 20px;
    border: 2px solid black;
    border-radius: 25px;
    position: fixed;
    top: 200px;
    background-color: pink;
    display: none;
}

.settings-popup-active {
    display: flex;
}

.close-settings-btn {
    background-color: blue;
    color: white;
    width: 20px;
}

.settings-content {
    display: flex;
    justify-content: center;
}
